<h1>管理者投稿管理ページ</h1>
<% @tweets.each do |tweet| %>
  <div class="d-flex">
    <%= link_to tweet.title, tweet_path(tweet.id) %>
    <div class="ml-3"><%= tweet.user.name %></div>
    <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class:"ml-3 text-danger font-weight-bold" %><br/>
  </div>
<% end %>
