<div class="tweet-image">
  <h1 class="text-white text-shadow sevenwords-bg">写真詳細ページ</h1>

  <div class="d-flex align-items-center justify-content-center flex-column m-5 h-75">
    <div class="m-4">
      <% if @tweet.image.attached? %>
        <%= image_tag @tweet.image.variant(combine_options:{gravity: :center, resize:"400x400^",crop:"400x400+0+0"}).processed, name:"tweet_image" %>
      <% end %>
    </div>

    <h1 class="text-center text-white text-shadow mb-5"><%= @tweet.title %></h1>

    <div class="bg-white border border-dark prf-size box-shadow" name="tweet_introduction">
      <%= @tweet.introduction %>
    </div>

    <div class="m-5">
      <% if current_user.id == @tweet.user_id || current_user.admin == true %>
        <%= link_to "編集", edit_tweet_path(@tweet.id), class:"btn btn-light rounded-pill px-3 box-shadow" %>
      <% end %>
    </div>

  </div>
</div>
