<div class="chat-image">
  <h1 class="roomname-bg text-shadow text-white"><%= current_user.name %>さんの参加ルーム</h1>

  <div class="d-flex align-items-center h-75">
    <div class="toppage-scroll d-flex justify-content-start align-items-center top-bar-bg">
      <% @rooms.each do |room| %>
        <% if room.users.include?(current_user) || room.user == current_user %>
          <div class="topchat-bg rounded d-flex justify-content-center align-items-center flex-column m-3 text-center text-white text-shadow">
            <div class="m-3">
              <div>Room name</div>
              <%= link_to room.name, room_messages_path(room.id), class:"h3 text-white" %>
            </div>
            <div class="m-3">
              <div>Host</div>
              <%= link_to room.user.name, page_path(room.user.id), class:"text-white h3"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
