/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ホームページ・ヘッダー */
 .home-image {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-height: 300px;
    background-image: url('home.jpg');
    background-size: cover;
    z-index: 0;
 }

 .home-image:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

 .header-color {
   background-color: #646464;
 }

 .size {
  width: 55%;
 }

 .rogin-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  background-image: url('rogin.jpg');
  background-size: cover;
 }

 .text-shadow {
  text-shadow: 3px 3px 3px #000000;
 }

 .opacity {
   opacity: 0.8;
 }

 .bg-rogin {
   height: 32%;
   width: 30%;
   background: rgba(55, 75, 54, 0.8);
 }

 .bg-signin {
  height: 48%;
  width: 40%;
  background: rgba(55, 75, 54, 0.8);
 }

/* トップページ・ハンバーガーメニュー */
 .top-image {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 300px;
  background-image: url('top.jpg');
  background-size: cover;
  z-index: 0;
 }

 .top-image:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

 .burger-btn{
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border:none;
}

 .bar{
  width: 40px;
  height: 5px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}

 .bar_top{
  top: 5px;
}

 .bar_mid{
  top: 50%;
  transform: translate(-50%,-50%);
}

.bar_bottom{
  bottom: 5px;
}

.burger-btn.close .bar_top{
  transform: translate(-50%,15px) rotate(45deg);
  transition: transform .3s;
}
.burger-btn.close .bar_mid{
  opacity: 0;
  transition: opacity .3s;
}
.burger-btn.close .bar_bottom{
transform: translate(-50%,-8px) rotate(-45deg);
transition: transform .3s;
}

 .nav-wrapper{
  transform: translateX(100%);
  transition: .3s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

 .nav-wrapper.slide-in{
  transform: translateX(85%);
  transition: .3s;
}

 .header-nav{
  width: 15%;
  height: 100%;
  background-color:#646464;
  z-index: 2;
}

 .header-nav.nav-list{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

 .header-nav.nav-item{
  margin-right: 0;
  margin-bottom: 40px;
}

body.noscroll{
  overflow: hidden;
}

/* マイページ */
.mypage-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  background-image: url('mypage.jpg');
  background-size: cover;
  z-index: 0;
}

.mypage-image:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 3px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.prf-size {
  height: 80px;
  width: 900px;
}

.box-shadow {
  box-shadow: 2px 2px #000000;
}

.fivewords-bg {
  height: auto;
  width: 205px;
  background: rgba(55, 75, 54, 0.8);
}

/* 写真投稿機能 */
.tweet-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  background-image: url('tweet.jpg');
  background-size: cover;
  z-index: 0;
}

.sevenwords-bg {
  height: auto;
  width: 285px;
  background: rgba(55, 75, 54, 0.8);
}

.tweet-bg {
  width: 200px;
  background: rgba(55, 75, 54, 0.8);
}

.tweet-scroll {
  height: 285px;
  width: 99vw;
  overflow: scroll;
}

.tweet-bar-bg {
  background-color: #571c00d2;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.bg-error {
  height: auto;
  width: 280px;
  background: rgba(55, 75, 54, 0.8);
}
